
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.github.matatata.stayawake</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/stayawake</string>
		<string>-p</string>
		<!--<string>-v</string>-->
		<string>-i</string>
		<string>30</string>
		<string>-t</string>
		<string>/path/to/shouldPreventSleep.sh</string><!-- script should return 1 if sleep should be prevended-->
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
  	<integer>60</integer>
</dict>
</plist>
